<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="/vendors/mdi/css/materialdesignicons.min.css"
    />
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css" />

    <!-- Layout styles -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/images/favicon.png" />

    <link href="/vendors/tabulator-master/dist/css/tabulator_bulma.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="container-scroller">
      <!-- sidebar partial -->
      {{> _sidebar}}

      <div class="container-fluid page-body-wrapper">
        <!-- navbar partial -->
        {{> _navbar}}
        <div class="main-panel">
          <div class="content-wrapper">
            {{!-- page title --}}
            <div class="page-header">
              <h3 class="page-title">Structures SH</h3>
            </div>

            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <p class="card-description">Suivant la décision portant codes des structures SH N° 337 /DG du 07/09/2021 
                    </p>
                    <div  id="example-table"></div>

                      <button
                        type="button"
                        class="btn btn-inverse-success btn-fw m-2"
                        id = "add-row"
                        value="Open Model"
                      >
                        <i class="mdi mdi-plus">Ajouter</i>
                      </button>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-6 grid-margin stretch-card align-content-center"
                id="btn"
              ></div>
            </div>
          </div>
          <!-- content-wrapper ends -->

          <!-- footer partial -->
          {{> _footer}}
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->

    <!-- inject:js -->
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/misc.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->

    <script type="text/javascript" src="/vendors/tabulator-master/dist/js/tabulator.min.js"></script>

    <script>
      var data = [];
      var lastID = 0;
      {{#each table}}
      data.push({ ID : "{{this.ID}}", CODE : "{{this.CODE}}", STRUCTURE : "{{this.STRUCTURE}}"});
      lastID = {{this.ID}};
      console.log("🚀 ~ file: employeur.hbs ~ line 94 ~ lastID", lastID)
      {{/each}}
    </script>
        <script src="/js/editable_table.js"></script>

    <!-- End custom js for this page -->
  </body>
</html>
